<html>
<head>
    <title>index</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/bootstrap/3.4.1/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/bootstrap/3.4.1/bootstrap-theme.css" type="text/css"/>
    <script type="text/javascript" src="../../static/js/jquery/3.6.0/jQuery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap/3.4.1/bootstrap.js"></script>
    <script type="text/javascript">

    </script>
</head>
<body>
    <h1>welcome, Login page<span class="label label-success">success</span></h1><br>
</body>
</html>