<html>
<head>
    <title>index</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap/3.4.1/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="../static/css/bootstrap/3.4.1/bootstrap-theme.css" type="text/css"/>
    <!--css<script type="text/javascript" src="../static/js/jquery/3.6.0/jQuery-3.6.0.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap/3.4.1/bootstrap.js"></script>
    <script type="text/javascript">

    </script>
</head>
<body>
    <h1>welcome, Index page<span class="label label-default">Default</span></h1><br>
    <button id="btn_submit" class="btn btn-success" onclick="window.location.href='../templates/user/login.html'">测试跳转</button>
</body>
</html>